@{
    ViewBag.Title = "Developer";
}

<div id="poster" class="jumbotron">
    <h1>My page</h1>
</div>

<div>Full Name: Jose Ant. Beltrán</div>
<div>Email: bjabinn@hotmail.com</div>

<script>
    setActiveMenuItem();
</script>